/* line 1, /Users/kwalsh/insouciantly/app/assets/stylesheets/scaffolds.css.scss */
body {
  background-color: #fff;
  color: #333;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

/* line 9, /Users/kwalsh/insouciantly/app/assets/stylesheets/scaffolds.css.scss */
p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

/* line 15, /Users/kwalsh/insouciantly/app/assets/stylesheets/scaffolds.css.scss */
pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

/* line 21, /Users/kwalsh/insouciantly/app/assets/stylesheets/scaffolds.css.scss */
a {
  color: #000;
}
/* line 23, /Users/kwalsh/insouciantly/app/assets/stylesheets/scaffolds.css.scss */
a:visited {
  color: #666;
}
/* line 26, /Users/kwalsh/insouciantly/app/assets/stylesheets/scaffolds.css.scss */
a:hover {
  color: #fff;
  background-color: #000;
}

/* line 33, /Users/kwalsh/insouciantly/app/assets/stylesheets/scaffolds.css.scss */
div.field, div.actions {
  margin-bottom: 10px;
}

/* line 38, /Users/kwalsh/insouciantly/app/assets/stylesheets/scaffolds.css.scss */
#notice {
  color: green;
}

/* line 42, /Users/kwalsh/insouciantly/app/assets/stylesheets/scaffolds.css.scss */
.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

/* line 48, /Users/kwalsh/insouciantly/app/assets/stylesheets/scaffolds.css.scss */
#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}
/* line 55, /Users/kwalsh/insouciantly/app/assets/stylesheets/scaffolds.css.scss */
#error_explanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  margin-bottom: 0px;
  background-color: #c00;
  color: #fff;
}
/* line 65, /Users/kwalsh/insouciantly/app/assets/stylesheets/scaffolds.css.scss */
#error_explanation ul li {
  font-size: 12px;
  list-style: square;
}
/* line 7, /Users/kwalsh/insouciantly/app/assets/stylesheets/welcome.css.scss */
.btn {
  -webkit-border-radius: 14;
  -moz-border-radius: 14;
  border-radius: 14px;
  font-family: Georgia;
  color: #ffffff;
  font-size: 30px;
  background: #14a88a;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

/* line 19, /Users/kwalsh/insouciantly/app/assets/stylesheets/welcome.css.scss */
.btn:hover {
  background: #11755f;
  text-decoration: none;
}
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *


 */


@font-face {
	font-family: raleway;
	src: url(fonts/raleway-regular.ttf)
}
@font-face {
	font-family: signpainter;
	src: url(fonts/sign-painter.otf)
}
@font-face {
	font-family: ralewaydots;
	src: url(fonts/RalewayDots-Regular.ttf)
}

h1 {
	font-family:raleway; 
	font-size:2.5em;
	font-weight:bold;
	color:#513f3d;
}
h2 {
	font-family:raleway; 
	font-size:1.375em;
	color:#699596;
}
h3 {
	font-family:signpainter;
	font-size:5em;
	font-weight:bold;
	color:#513f3d;
}
h2 {
	font-family:ralewaydots;
	font-size:60px;
	color:#513f3d;
}
