<head><link href='http://fonts.googleapis.com/css?family=Raleway:700,400' rel='stylesheet' type='text/css'></head>
<%= image_tag("comingsoon.jpg", :title => "coming soon", :alt => "DRESS INSOUCIANTLY is coming soon!", :width => "100%") %>
<div style="font-family: 'Raleway', sans-serif; size:20px">
	This website and blog will be coming soon! Photo by <a href="http://www.brainsarepretty.com">Brains Are Pretty</a>
</div>
