<div> <%= image_tag("comingsoon.jpg", :title => "coming soon", :alt => "DRESS INSOUCIANTLY is coming soon!", :width => "100%") %>
</div>
<div style="font-family:raleway; font-size:12px; display=block">
	This website and blog will be coming soon! Photo by Caroline Okun of <a href="http://www.brainsarepretty.com">Brains Are Pretty</a>
</div>

<div style="font-family:raleway; font-size:60px; padding:5%; display=block"> I'M MAKING A WEBSITE</div>
<div style="font-family:raleway; font-size:18px; width:75%; padding-left:10%; display=block">
Hello. My name is Kelly. I've been vaguely sort of maintainging a quote-un-quote "blog" at <a href="http://insouciantly.tumblr.com"> insouciantly.tumblr.com</a> for a number of years, but recently I've felt the call to build something a little more personal for myself. That something will probably live here. I don't know yet what that something will be, but it will probably have very similar content to the tumblr. It will probably have a lot about sewing, and weaving, and other stuff I make. It'll have a lot of pictures, and occasionally I'll probably ramble on about something random. For now, I'm curious about why you're here, and if and why and how I can pursuade you to return. If you wouldn't mind filling out the lovely form below, I'll try to put what you have to say to good use. 
</div>

<div style = "padding-left: 20%; padding-top:60px; padding-bottom:60px; display=block">
<a class = "btn" href= "https://docs.google.com/forms/d/1QQcIsORL0wKYb9okrybvybGZe6Zo6H7rNtZ3uP7piXI/viewform?usp=send_form"> I'll answer your questions! </a>
</div>