<style>
	.fizz { display:inline-block; }
	.sidebar { display:none; }
	.content { display:none; }
	.welcome { display:block; }
</style>

<% content_for :title do %>
	<h3 class="logo"><span style="font-family:raleway; font-size:.5em; margin:10px">[dress]</span>Insouciantly </h3>
<% end %>

<% content_for :fizz do  %>
	<%= image_tag("welcome.jpg", :class => "fizz") %>
	<div class="fizztext" style="font-size:1em; margin-bottom:10px; margin-left:5px;">
		<span style="font-size:2em">Welcome to dress insouciantly! </span>This is my first attempt at
		of those blog things that were cool 10 years ago. I like sewing, and want an excuse to improve the
		quality of photographs I take of sewing projects. I recently bought a loom, and so you'll
		likely see a bunch of weaving projects. I also love to read, and like to share books I
		love. <span style="font-size:1.5em">Click on a post below to read more!</span> Or on a topic above.
		<span style="font-size:0.8em">(I recommend the "First real post" entry).</span>
	</div>
<% end %>

<% content_for :welcome do %>
	<div id="container">
		<%= render @blogs %>
	</div>
	<script>
		var container = document.querySelector('#container');
		var msnry
		imagesLoaded( container, function() {
			msnry = new Masonry( container, {
			// options
			columnWidth: 5,
			itemSelector: '.masonry-item'
			});
		});
	</script>
	<div id = "paginate" class = "center" style="width:100px;margin-top:30px;margin-bottom:30px;" %>
		<% logger.info "rendering paginate partial with link to page #{params[:page]} + 1" %>
		<%= render :partial => "paginate", :locals => {:page => params[:page].to_i + 1} %>
	</div>
<% end %>
