/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@font-face {
	font-family: raleway;
	src: url(fonts/raleway-regular.ttf)
}
@font-face {
	font-family: signpainter;
	src: url(fonts/sign-painter.otf)
}
@font-face {
	font-family: ralewaydots;
	src: url(fonts/RalewayDots-Regular.ttf)
}

body {
	background-color:#deebe8;
	font-family:raleway;
	color:#513f3d;
	font-size:1em;
}

h1 {
	font-family:raleway; 
	font-size:2.5em;
	font-weight:bold;
	color:#513f3d;
}
h2 {
	font-family:raleway; 
	font-size:1.375em;
	color:#699596;
}
h3 {
	font-family:signpainter;
	font-size:5em;
	font-weight:bold;
	color:#513f3d;
	margin:20px 0px 30px 0px;
}

a:-webkit-any-link{
	text-decoration:none !important;
}


@media only screen and (min-width: 900px) {
	.header {
		width:100%;
		top:0px;
	    left:0px;
	    position:fixed;
	    background-color:#deebe8;
	    color:#deebe8;
	    margin:0px;
	    color:#deebe8;
	    padding:10px 0px 5px 0px;
	    border-bottom:5px solid #96b6ad;
	    z-index:1000;
	}
	.header-menu { 
		display:inline-block;
		font-family:raleway;
		font-size:1.5em;
		margin:0px;
		width:18%;
		color:#deebe8;
		text-align:center;
		padding:0;
	}
	.sidebar {
		background-color:#FFFFFF;
		width:18%;
		border:2px solid #96b6ad;
		display:inline-block;
		padding:5px;
		position:absolute;
	}
	.content {
		background-color:#FFFFFF;
		width:75%;
		padding:2%;
		border: 2px solid #96b6ad;
		display:inline-block;
		margin-left:21%;
	}
	.transparency {
		width:100%;
		margin-top:53px;
		position:absolute;
		z-index:100;
	}
	.fizz {
		width:100%;
		margin-top:53px;
		position:relative;
		z-index:10;
	}
	.fizztext {
		font-family:raleway;
		font-size:4em;
		bottom:.75em;
		left:.5em;
		position:absolute;
		z-index:101;
	}
	.logo {
		display:block;
		width:43%;
		text-align:right;
	}
	.icon {
		display:none;
	}
	.hamburger {
		display:none;
	}
}

@media only screen and (min-width: 0px) and (max-width: 899px) {
	.header {
		width:100%;
	    position:fixed;
	    top:0px;
	    left:0px;
	    height:35px;
	    background-color:#deebe8;
	    width:100%;
	    margin:0px;
	    padding-bottom:5px;
	    border-bottom:5px solid #96b6ad;
	    z-index:1000;
	}
	.header-menu { 
		display:none;
		font-size:1.25em;
		font-family:raleway;
		font-weight:bold;
	}
	.content {
		background-color:#FFFFFF;
		left:0px;
		top:10%;
		margin:0;
		width:96%;
		padding:2%;
	}
	.transparency {
		width:100%;
		margin-top:23px;
		position:absolute;
		z-index:100;
	}
	.fizz {
		width:100%;
		margin-top:22px;
		position:relative;
		z-index:10;
	}
	.fizztext {
		font-family:raleway;
		font-size:3em;
		bottom:.75em;
		left:.5em;
		position:absolute;
		z-index:101;
	}
	.sidebar {
		display:none;	
	}
	.logo {
		display:none;
	}
	.icon {
		display:inline-block;
		height:35px;
	}
	.hamburger {
		display:inline-block;
		float:right;
		padding:4px 4px 0 0 ;
		height:35px;
	}
}

.bookstar{
		width:.5em;
	}

a:link {
    color: #96b6ad;
    font-weight:bold;
}

/* visited link */
a:visited {
    color: #96b6ad;
    font-weight:bold;
}

/* mouse over link */
a:hover {
    color: #513f3d;
    background-color: #deebe8;
}

/* selected link */
a:active {
    color: #513f3d;
}

