// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@font-face {
	font-family: raleway;
	src: url(images/raleway-regular.tff)
}

.btn {
  -webkit-border-radius: 14;
  -moz-border-radius: 14;
  border-radius: 14px;
  font-family: Georgia;
  color: #ffffff;
  font-size: 30px;
  background: #14a88a;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #11755f;
  text-decoration: none;
}
