
<h2 style="display:inline-block">Pending Blog Updates</h2>
<div style="float:right; display:inline-block">
	<h2><%= link_to "create new", new_admin_blog_path %></h2>
</div>
<hr />
<%= render :partial => "shared/blog_masonry",
	:locals => {:masonryblogs => @pending, :style => "border:2px solid #dae4b7;", :admin => true} %>
