<% content_for :sidebar do %>
  <%= render :partial => "sidebar" %>
<% end %>

<h2>
	<%= link_to "edit", edit_admin_blog_path(@blog) %> >> 
  <%= link_to "post", edit_admin_blog_path(@blog, :commit => "publish") %>
</h2>
<div>
  <%= render :partial => "shared/blog", :locals => {:blog => @blog, :fizz => true} %>
</div>
